.weather-card {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: #E3E6EA;
}

.ind-card-row {
    display: flex;
    flex-direction: row;
}

.ind-card-row-child-l {
    margin-right: 15px;
    margin-left: 5px;
}

.ind-card-row-child-r {
    margin-left: 15px;
    margin-right: 5px;
}

#summary {
    word-wrap: break-word;
}

@media only screen and (max-width: 1000px){
    .weather-card {max-width: 400px;}
  }